html{box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}
a {
	text-decoration: none;
}

.listContainer {
	width: 50%;
	margin: 0 auto;
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	padding: 1vw;
}
.contactContainer {
	display: flex;
	align-items: center;
}
span {
	font-family: sans-serif;
	font-size: 1.2em;
	margin-left: 1vw;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
}
.fa {
	margin-right: 1vw;
	transition: 0.5s;
}
.fa:hover {
	transform: rotateY(180deg);
}
header {
	font-size: 2em;
	font-weight: bold;
	color: #06070e;
	padding: 1vw;
	text-align: center;
	font-family: sans-serif;
	text-transform: capitalize;
}

li {
	padding: 1vw;
	margin: 1vw;
	list-style-type: none;
	background: #29524a;
	border-radius: 20px;
	box-shadow: 2px 2px 3px #06070e;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}

.card {
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(148,161,135,1) 20%, rgba(148,161,135,1) 80%, rgba(255,255,255,1) 100%);
	text-align: center;
}

img {
	border-radius: 50%;
	box-shadow: 1px 1px 2px #06070e;
}
