html{box-sizing: border-box;}
*, *:before, *:after{box-sizing: inherit;}

.listContainer {
	width: 50%;
	margin: 0 auto;
	background: #94a187;
}
.contactContainer {
	display: flex;
	align-items: center;
}
.contactContainer > span {
	font-family: sans-serif;
	font-size: 1.2em;
	margin-left: 1vw;
}
header {
	font-size: 2em;
	font-weight: bold;
	color: #06070e;
	padding: 1vw;
	text-align: center;
	font-family: sans-serif;
}

li {
	padding: 1vw;
	margin: 1vw;
	list-style-type: none;
	background: #29524a;
	border-radius: 20px;
	box-shadow: 2px 2px 3px #06070e;
}
li * {
	color: #94a187;
	text-decoration: none;
	text-transform: capitalize;
}

.card {
	background: green;
	text-align: center;
}
.card li {
	background: rgba(255,255,255,0.9);
	border: 2px solid green;
	text-transform: capitalize;
}

img {
	border-radius: 50%;
	box-shadow: 1px 1px 2px #06070e;
}
